* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px; 
}

body {
    background-color: red; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-container {
    position: relative;
    padding: 5px;
    margin: 5px;
}

body div h1 {
    position: absolute; 
    border-bottom: 2px solid;
    left: 50%;
    transform: translateX(-50%);

}

.img-one {
    display: block;
    margin: 5%;
    padding: 2%;
    border-radius: 600%;
    left: 50%;
    transform: translateX(132%);
}