* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 #header {
    position: absolute; 
    border-bottom: 2px solid;
    left: 50%;
    transform: translateX(-50%);
}

.img-one {
    display: block;
    margin: 6%;
    padding: 3%;
    border-radius: 600%;
    left: 50%;
    transform: translateX(132%);
}

.content-1, .content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 24px; 

}